@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';

.container {
  display: flex;
  margin-bottom: 1.5rem;
  overflow-x: auto;
}

.noResults {
  color: $snow;
  font-size: 1.5rem;
}

.icon {
  color: $mercury;
  margin-left: 0.75rem;
}
